<footer class="footer">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Event", events_path %></li>
	<% end %>     
      </ul>
    </nav>
  </div>
</footer>
